body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(134, 133, 133);
    font: 8pt "Arial";
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.page {
    width: 280mm;
    min-height: 230mm;
    padding: 20mm;
    margin: 5mm auto;
    border: 1px solid rgb(65, 63, 63);
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}


@page {
    size: A4;
    margin: 0;
}
@media print {
    html, body {
        width: 210mm;
        height: 297mm;        
    }
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}
h1{
    text-align: center;
}
div.gambar{
    height: 154px;
    width: 404px;
    float: left;
}
img{
    height: 117px;
    width: 424px;
    padding-left: 20px;
    padding-top: 40px;
}
div.dataDiri{
    height: 154px;
    width: 500px;
    float: right;
}
label{
    font-size: 20px;
}
form.dataDiri{
    position: relative;
    top: 50px;
    left: 200px;

}
input.data{
    width: 200px;
    height: 25px;
}
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 
form.Pertanyaan{
    font-size: 20px;
    padding-top: 20px;
    padding-left: 50px;
}
input.radio{
    margin-left: 20px;
}
button{
    background-color: hsl(344, 95%, 51%);
    width: 150px;
    height: 35px;
    margin-left: 615px;
    color: white;
    border: none;
    border-radius: 25px;

}